body{
    background-image: linear-gradient(lightgreen,white);
}

/* :active */
.youtube:active, .twitter:active, .instagram:active, .facebook:active{
    background-color: green;
    color: white;
}

/* ::after */
.nerd::after{
    content: " - é verdade esse bilhete";
    color: white;
    background-color: black;
}

.rico::after{
    content: " - é mentira esse bilhete";
    color: white;
    background-color: black;
}

/* ::before */
.love::before{
    content: "leia isso: ";
    color: white;
    background-color: black;
}

.hate::before{
    content: "não leia isso: ";
    color: white;
    background-color: black;
}

/* :checked */
input:checked{
    width: 50px;
    height: 40px;
}

/* :default */
.pain:default{
    box-shadow: 0 0 5px 8px black;
}

.kanids:default{
    box-shadow: 0 0 5px 5px red;
}

/* :disabled */
input:disabled{
    background: lightblue;
    color: black;
}

.azul{
    background: blue;
    color: white;
}

.amarelo{
    background: yellow;
    color: white;
}

option:disabled{
    background: lightcoral;
}

/* :empty */
p:empty{
    background: rgb(255, 0, 170);
    width: 90px;
    height: 30px;
}

h2:empty{
    background: rgb(169, 59, 192);
    width: 90px;
    height: 30px;
}

div:empty{
    background: blue;
    width: 90px;
    height: 30px;
}

/* :enabled */
input:enabled{
    background: lightcoral;
}