body{
    background-image: linear-gradient(lightpink,lightblue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
}

/* :first-child */

.crianca:first-child, h3:first-child{
    background: black;
    color: white;
}

/* ::first-letter */
h4::first-letter{
    font-size: 24px;
    color: lightcoral;
}

/* ::first-line */
.linha::first-line{
    color: black;
    background: lightcoral;
}

/* :first-of-type */
.tipo:first-of-type{
    color: lightcoral;
    font-size: 25px;
}

/* :focus */
input:focus{
    background: lightcoral;
}

/* :hover */
.hover:hover{
    font-size: 30px;
    color: lightcoral;
    transition: .4s;
}

/* :in-range */
.ranger:in-range{
    background: lightblue;
}

/* :invalid */

.invalido{
    color: black;
    background: lightblue;
}
.invalido:invalid{
    background: lightcoral;
    color: black;
}

/* :lang() */
p:lang(en){
    background: lightcoral;
    color: black;
}
